<!-- accounts/templates/sicualaccount/signup.html -->
{% extends 'Gamers/base/base_template.html' %}
{% load staticfiles %}

{% block content %}
{% load i18n %}
<div class="container">
  <form class="signup" id="signup_form" method="post" action="{% url 'socialaccount_signup' %}">
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
    {% endif %}
    <button type="submit">{% trans "Sign Up" %} &raquo;</button>
  </form>
</div>
{% endblock %}