<!--
<div id='div_{{ name }}' class='taginput-container'>
    <input type="text" name='{{ name }}' data-provide="typeahead">
</div>
<script>
var {{ name }} = $('#div_{{ name }} input');
{{ name }}.tagsinput({
    typeahead: {
        source: {{ select_options|safe }}
    }
});
</script>
-->
<div id="{{name}}" class="chips chips-autocomplete"></div>

<script>
    $(document).ready(function(){
        $('#{{name}}').material_chip({
            autocompleteOptions: {
                data: {{ select_options|safe }},
                limit:Infinity,
                minLength:2
            }
        });
    });
</script>