<!-- accounts/templates/accounts/login_form.html -->
{% extends 'Gamers/base/base_template.html' %}
{% load socialaccount %}
{% load staticfiles %}

{% block content %}
    <div class="container">
    <ul>
        {% for provider in providers %}
        <li>
            {% if provider.social_app %}
            <a href="{% provider_login_url provider.id %}">
                {{ provider.name }}
            </a>
            {% else %}
            <a>
                Provider {{ provider.name }} 설정이 필요합니다.
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    </div>
{% endblock %}