{% extends 'Gamers/base/base_template.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static "starrating/css/star-rating.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static "starrating/js/star-rating.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ user }}의 프로필</h1>
    <table>
        <tr>
            <th>닉네임</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>

    <a href="{% url 'modi' %}"><button class="btn">닉네임 수정</button></a>

    <hr>

    <table>
        <thead>
            <tr>
                <th>게임</th>
                <th>내점수</th>
                <th>평균점수</th>
            </tr>
        </thead>
        <tbody>
            {% for item in myreviewlist %}
            <tr>
                <td><a href="/game/{{ item.myreview.game.id }}">{{ item.myreview.game.title }}</a></td>
                <td>
                    <input type="number" class="rating reviewstar" 
                                    data-min="0" data-max="10" data-step="1"
                                    data-show-clear='false' data-show-caption='false'
                                    value="{{ item.myreview.score }}" data-size='xs'>
                </td>
                <td>
                    <input type="number" class="rating reviewstar" 
                                    data-min="0" data-max="10" data-step="1"
                                    data-show-clear='false' data-show-caption='false'
                                    value="{{ item.gamescore }}" data-size='xs'>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
<script>
    $('.rating').rating({displayOnly:true});
</script>
{% endblock %}