{% extends 'Gamers/base/base_template.html' %}

{% block content %}
<div class="container">
    <h1>{{ user }}의 프로필</h1>
    <table>
        <tr>
            <th>닉네임</th>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <th>이메일</th>
            <td>{{ user.email }}</td>
        </tr>
    </table>

    <a href="{% url 'modi' %}"><button class="btn">닉네임 수정</button></a>

    <hr>

    <table>
        <thead>
            <tr>
                <th>게임</th>
                <th>점수</th>
            </tr>
        </thead>
        <tbody>
            {% for item in myreview %}
            <tr>
                <td><a href="/game/{{ item.game.id }}">{{ item.game.title }}</a></td>
                <td>{{ item.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}