{{ reviewform.non_field_errors }}

    <div class="col s12">
        <div class="fieldWrapper thumb">
            {{ reviewform.score.errors }}
            <label for="{{ reviewform.score.id_for_label }}">
                점수
            </label>
            {{ reviewform.score }}
        </div>
        <div class="thumb right valign">
            <i class="material-icons md-dark valign">thumb_up</i>{{ my_review.thumbUp }}
        </div>
        <div class="thumb right valign">
            <i class="material-icons md-dark valign">thumb_down</i>{{ my_review.thumbDown }}
        </div>
    </div>

    <div class="col s12 input-field">
        {{ reviewform.content.errors }}
        <textarea class="materialize-textarea" id="id_content" name="content" placeholder="리뷰 입력...">{% if reviewform.content is None %}{{ reviewform.content.value }}{% endif %}</textarea>
        <label for="{{ reviewform.content.id_for_label }}">내용</label>
    </div>

    <div class="col s12">
        <button class="btn waves-effect waves-light right" type="submit" name="action">리뷰 작성
            <i class="material-icons right">send</i>
        </button>
    </div>

<script>
    $('#id_content').trigger('autoresize');
</script>