{% extends 'Gamers/base/base_template.html' %}
{% load staticfiles %}

{% block css %}
<link href="{% static "starrating/css/star-rating.css" %}" rel="stylesheet">
{% endblock %}

{% block js %}
<script src="{% static "starrating/js/star-rating.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
    <div class="content">
        {% for games in gameandscore %}
        <div class="row">
            {% for item in games %}
            <div class="col s12 m12 l4 game_content">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.screenshot }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><a href="/game/{{ item.game.id }}/">{{ item.game.title }}</a></span>
                        <!--<p>{{ item.rating }}</p>-->
                        <input type="number" class="rating" 
				            data-min="0" data-max="10" data-step="1"
				            data-show-clear='false' data-show-caption='false'
				            value="{{ item.rating }}" data-size='xs'>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <hr>
        {% endfor %}

        <div class="row">
            <div class="col s12 page_div">
                <ul class="pagination">
                    {% if pagination.has_previous %}
                    <li class="waves-effect"><a href="?page={{ pagination.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
                    {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}
                    {% for page_number in range %}
                    {% if pagination.number  == page_number %}
                    <li class="active"><a href="#!">{{ page_number }}</a></li>
                    {% else %}
                    <li class="waves-effect"><a href="?page={{ page_number }}">{{ page_number }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if pagination.has_next %}
                    <li class="waves-effect"><a href="?page={{ pagination.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                    {% else %}
                    <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    $('.rating').rating({displayOnly:true});
</script>
{% endblock %}