{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Game List</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "css/basic.css" %}" rel="stylesheet">
</head>
<body>
{% include 'Gamers/menu.html' %}

<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>
<div>
    {% for item in game %}
    {{item.title}}<br>
    {{item.release_date|date:'Y년 n월 j일'}}<br>
    {% endfor %}
</div>

<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>

</body>
</html>
