<nav class="nav-extended blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">GAMERS</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile/"><i class="large material-icons">account_circle</i></a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
            <li><a>Login</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="nav-content">
        <ul class="tabs tabs-transparent">
            <li class="tab"><a href="#">test1</a></li>
            <li class="tab"><a href="#">test2</a></li>
            <li class="tab"><a href="#">검색</a></li>
        </ul>
    </div>
</nav>