<nav class="nav-extended blue-grey darken-4">
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">GAMERS</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/gamelist">Game List</a></li>
            <li><a href="/search"><i class="large material-icons">search</i></a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile/"><i class="large material-icons">account_circle</i></a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
            <li><a>Login</a></li>
            {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li class="tab"><a href="/gamelist">Game List</a></li>
            {% if user.is_authenticated %}
            <li><a href="/accounts/profile/"><i class="large material-icons">account_circle</i></a></li>
            <li><a href="/accounts/logout/">Logout</a></li>
            {% else %}
            <li><a>Login</a></li>
            {% endif %}
      </ul>
    </div>
</nav>
<script>
$(".button-collapse").sideNav()
</script>