{% extends 'Gamers/base/base_template.html' %}
{% load staticfiles %}


{% block css %}
<link href="{% static "tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
<link href="{% static "datepicker/css/bootstrap-datepicker3.css" %}" rel="stylesheet">
{% endblock %}

{% block js%}
<script src="{% static "typeahead/bloodhound.js" %}"></script>
<script src="{% static "typeahead/bootstrap3-typeahead.min.js" %}"></script>
<script src="{% static "tagsinput/bootstrap-tagsinput.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div>
		<form method="POST" action="" id="form">
			{% csrf_token %}
			{{ form.as_p }}
			<span class="red-text">관리자 검토 후 게임 목록에 등록됩니다.</span><br>
			<button class="btn" type="submit">저장</button>
		</form>
	</div>
</div>

{% if messages %}
<script>
	
	$(document).ready(function(){
		{% for message in messages %}
		Materialize.toast('{{ message }}', 4000)
		{% endfor %}
	});
</script>
{% endif %}
{% endblock %}
