{% load staticfiles %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Gamers</title>


    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "materialize/css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen, projection">
    <link href="{% static "css/basic.css" %}" type="text/css" rel="stylesheet">
    {% block css%}
    {% endblock %}
</head>
<body class="grey lighten-3">
<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
{% block js %}
{% endblock %}


{% include 'Gamers/base/left_menu.html' %}

<div class="main-body">
    <nav class="nav-title grey lighten-3">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo right black-text">GAMERS</a>
            <ul id="nav-mobile" class="left">
                <li>
                    <a class="dropdown-button" 
                    data-activates="dropdown1" 
                    data-beloworigin="true" 
                    href="#"><i class="material-icons md-dark">account_circle</i></a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>

<ul id="dropdown1" class="dropdown-content">
    {% if user.is_anonymous %}
    <li><a href="/accounts/facebook/login/">FACEBOOK</a></li>
    <li><a href="/accounts/google/login/">GOOGLE</a></li>
    {% else %}
    <li><a href="/accounts/profile/">PROFILE</a></li>
    <li><a href="/accounts/logout/">LOGOUT</a></li>
    {% endif %}
</ul>
<script>
    $('.dropdown-button').dropdown({
        belowOrigin: true,
    })
</script>
</body>
</html>
