{% load staticfiles %}
<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Gamers</title>


    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "materialize/css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen, projection">
    <link href="{% static "css/basic.css" %}" type="text/css" rel="stylesheet">
    {% block css%}
    {% endblock %}
</head>
<body class="blue-grey lighten-5">
<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
{% block js %}
{% endblock %}


{% include 'Gamers/base/left_menu.html' %}

<div class="main-body z-depth-0">
    <nav class="nav-title blue-grey darken-4">
        <div class="nav-wrapper">
            <a href="{% url 'main' %}" class="brand-logo center">Gamers</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</div>


</body>
</html>
