<ul id="nav-mobile" class="side-nav fixed blue-grey lighten-5">
    <li class="account-info blue-grey darken-4">
        <a href="{% url 'profile' %}"><img class="circle avatar" src="{{ user.socialaccount_set.all.0.get_avatar_url }}"></a>
        <span class="white-text">{{ user.username }}</span>
        <i class="small material-icons md-light">settings</i>
    </li>
    <li><a href="">Main</a></li>
    <li><a href="{% url "game_list" %}">Game List</a></li>
    <li><a href="{% url "register_game" %}">Register Game</a></li>
</ul>