<ul id="nav-mobile" class="side-nav fixed grey darken-4">
    <li class="account-info">
    </li>
    <li>
        <a href=""><span class="white-text">Main</span></a>
    </li>
    <li>
        <a href="{% url "game_list" %}?page=1"><span class="white-text">게임 목록</span></a>
    </li>
    <!--<li>
        <a href="{% url "game_search" %}"><span class="white-text">게임 찾기</span></a>
    </li>-->
    <li>
        <a href="{% url "register_game" %}"><span class="white-text">게임 등록</span></a>
    </li>
</ul>