<!--게임 정보-->
{% extends 'Gamers/base/base_template.html' %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Game List</title>

	<link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
	<link href="{% static "starrating/css/star-rating.css" %}" rel="stylesheet">
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "materialize/css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen, projection">


</head>
<body>
<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "materialize/js/materialize.js" %}"></script>
<script src="{% static "starrating/js/star-rating.js" %}"></script>




{% include 'Gamers/menu.html' %}
<div class="container">
	<div>
		<div class="game">
			<img src='{{ screenshot.screenshot_url }}'>
			<div class="title">
			{{ game.title }}
			</div>
			<div class="rate">
			<input type="number" class="rating" 
				data-min="0" data-max="10" data-step="1"
				data-show-clear='false' data-show-caption='false'
				value="{{ rating }}" data-size='xs'
				>
			</div>
			<div class="release_date">
			{{ game.release_date }}
			</div>
			<div class="homepage">
			<a href="{{ game.homepage }}" target="_blank">{{ game.homepage }}</a>
			</div>
			<div class="developer">
			{% for item in game.developers.all %}
			{{ item }}
			{% endfor %}
			</div>
			<div class="publisher">
			{% for item in game.publishers.all %}
			{{ item }}
			{% endfor %}
			</div>
			<div class="platform">
			{% for item in game.platforms.all %}
			{{ item }}
			{% endfor %}
			</div>
			<div class="genre">
			{% for item in game.genres.all %}
			{{ item }}
			{% endfor %}
			</div>
		</div>
		리뷰 쓰기
		<div class="my_review">
			<form action="" method="POST">
			{% csrf_token %}
			{{ review_form.as_p }}
			<button type="submit">저장</button>
			</form>
		</div>
		<div class="review">
			<h1>리뷰</h1>
			{% for item in review_list %}
			<div>
				<h2>{{ item.user }}</h2>
				<input type="number" class="rating" 
				data-min="0" data-max="10" data-step="1"
				data-show-clear='false' data-show-caption='false'
				value="{{ item.score }}" data-size='xs'
				>
				<span>
					{{ item.content }}
				</span>
			</div>
			{% endfor%}
		</div>
	</div>
</div>

<script>
	$('.rating').rating({displayOnly: true});
	$('.input_rating').rating();
</script>
</body>
</html>

