<!--게임 추가-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Game List</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/bootstrap-datepicker3.css" %}" rel="stylesheet">
    <link href="{% static "css/basic.css" %}" rel="stylesheet">
</head>
<body>
<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "typeahead/bloodhound.js" %}"></script>
<script src="{% static "typeahead/bootstrap3-typeahead.min.js" %}"></script>
<script src="{% static "tagsinput/bootstrap-tagsinput.min.js" %}"></script>


{% include 'Gamers/menu.html' %}

<div>
	<div class="game">
		<div class="title">
		{{ game.title }}
		</div>
		<div class="release_date">
		{{ game.release_date }}
		</div>
		<div class="homepage">
		<a href="{{ game.homepage }}" target="_blank">{{ game.homepage }}</a>
		</div>
		<div class="developer">
		{% for item in game.developers.all %}
		{{ item }}
		{% endfor %}
		</div>
		<div class="publisher">
		{% for item in game.publishers.all %}
		{{ item }}
		{% endfor %}
		</div>
		<div class="platform">
		{% for item in game.platforms.all %}
		{{ item }}
		{% endfor %}
		</div>
		<div class="genre">
		{% for item in game.genres.all %}
		{{ item }}
		{% endfor %}
		</div>
	</div>
</div>
</body>
</html>
