{% extends 'Gamers/base/base_template.html' %}

{% block content %}
<div class="container">
    <div>
        {% for games in gameandscore %}
        <div class="row">
            {% for item in games %}
            <div class="col s12 m12 l4 game_content">
                <div class="card">
                    <div class="card-image">
                        <img src="{{ item.screenshot }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title"><a href="/game/{{ item.game.id }}/">{{ item.game.title }}</a></span>
                        <p>{{ item.rating }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}