<!--게임 목록-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
    <title>Game List</title>

    <!--
    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "css/basic.css" %}" rel="stylesheet">
    -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static "materialize/css/materialize.css"%}" type="text/css" rel="stylesheet" media="screen, projection">
</head>
<body>
<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>


{% include 'Gamers/menu.html' %}

<div class="container">
    <div>
    {% for item in gameandscore %}
        <div class="game_content">
            <div class="title"><a href="/game/{{ item.game.id }}/">{{ item.game.title }}</a></div>
            <div class="rating">{{ item.rating }}</div>
        </div>
    {% endfor %}
    </div>
</div>
<script src="{% static "materialize/js/materialize.js" %}"></script>
</body>
</html>
