<!--게임 추가-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">-->
	<title>Game List</title>

    <link href="{% static "bootstrap/css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "bootstrap/css/bootstrap-theme.css" %}" rel="stylesheet">
    <link href="{% static "tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
    <link href="{% static "css/basic.css" %}" rel="stylesheet">
</head>
<body>
{% include 'Gamers/menu.html' %}

<div>
	<form method="POST" action="">
		{% csrf_token %}
		{{ form.as_p }}
        <button type="submit">Save</button>
	</form>
    {{ data }} 
</div>
<div class="taginput-container">
    <input type="text" data-role="tagsinput">
</div>

<script src="{% static "jQuery/jquery-3.2.1.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.js" %}"></script>
<script src="{% static "typeahead/typeahead.bundle.min.js" %}"></script>
<script src="{% static "tagsinput/bootstrap-tagsinput.min.js" %}"></script>
<script>
var cities = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.obj.whitespace('text'),
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    prefetch: '{% static "tagsinput/cities.json" %}'
});
cities.initialize();

var elt = $('input');
elt.tagsinput({
    itemValue: 'value',
    itemText: 'text',
    typeaheadjs: {
        name: 'cities',
        displayKey: 'text',
        source: cities.ttAdapter()
    },
    tagcClass: 'big'
});
</script>

</body>
</html>
