{% extends 'Gamers/base/base_template.html' %}
{% load staticfiles %}


{% block css %}
<link href="{% static "tagsinput/bootstrap-tagsinput.css" %}" rel="stylesheet">
<link href="{% static "datepicker/css/bootstrap-datepicker3.css" %}" rel="stylesheet">
{% endblock %}

{% block js%}
<script src="{% static "typeahead/bloodhound.js" %}"></script>
<script src="{% static "typeahead/bootstrap3-typeahead.min.js" %}"></script>
<script src="{% static "tagsinput/bootstrap-tagsinput.min.js" %}"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div>
		<form method="POST" action="" id="form">
			{% csrf_token %}
			{{ form.as_p }}
			<button type="submit">Save</button>
		</form>
	</div>
</div>
{% endblock %}
